1. Reverse a given list in Python
aList = [100, 200, 300, 400, 500]
output:
[500, 400, 300, 200, 100]

In [1]:
aList = [100, 200, 300, 400, 500]
aList[::-1]

[500, 400, 300, 200, 100]

2. take a list 'l1' of even nos between 150 to 250. Print its length.
Then create another list 'l2' using 'l1', containing only nos divisible by 4 from 'l1'.

In [5]:
l1=[i for i in range(150,251,2)]
l2=[j for j in l1 if j%4==0]
print(l2)

[152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 200, 204, 208, 212, 216, 220, 224, 228, 232, 236, 240, 244, 248]

3. Given a Python list of numbers. Turn every item of a list into its square root
aList = [1, 4, 9, 16, 25, 36, 49] 
output:
[1, 2, 3, 4, 5, 6, 7]

In [9]:
import math
aList = [1, 4, 9, 16, 25, 36, 49]
l2=[int(math.sqrt(element)) for element in aList]
print(l2)

[1, 2, 3, 4, 5, 6, 7]

4. Print two lists in the following order
list1 = [5, 6,7]
list2 = [0, 1]
output:
50,51,60,61,70,71

In [21]:
l1 = [5, 6,7]
l2 = [0, 1]
l3=[]
for i in range(len(l1)):
    for j in range(len(l2)):
        l3.append(int(str(l1[i])+str(l2[j])))
l3

[50, 51, 60, 61, 70, 71]

5. Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order. It should work for any two lists.
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
output:
10 400
20 300
30 200
40 100

In [28]:
l1 = [10, 20, 30, 40]
l2 = [100, 200, 300, 400]
l3 = l2[::-1]
for e1,e2 in zip(l1,l3):
    print(e1,e2)

10 400
20 300
30 200
40 100

6. Remove empty strings from the list of strings
list1 = ["Ashish", "", "Atharva", "Amit", "", "Revati"]
output:
["Ashish", "Atharva", "Amit", "Revati"]

In [8]:
list1 = ["Ashish", "", "Atharva", "Amit", "", "Revati"]
#list1.remove("")
for element in list1:
    if element == "":
        #del list1[element]
        list1.remove("")
print(list1)

['Ashish', 'Atharva', 'Amit', 'Revati']

7. Add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
output:
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [20]:
l1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
l1[2][2].insert(2,700)
print(l1)

[10, 20, [300, 400, [5000, 6000, 700], 500], 30, 40]

8. Given a nested list extend it by adding the sub list ["h", "i", "j"] in such a way that it will look like the following list:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
Sub List to be added = ["h", "i", "j"]
output:
['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [9]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
subList = ["h", "i", "j"]
list1[2][1][2].extend(subList)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

9. Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value
list1 = [5, 10, 15, 20, 25, 50, 20]
output:
list1 = [5, 10, 15, 200, 25, 50, 20]

In [14]:
list1 = [5, 10, 15, 20, 25, 50, 20]
for i in range(len(list1)):
    if list1[i] == 20:
        list1[i] = 200
        break
print(list1)

[5, 10, 15, 200, 25, 50, 20]

10. Given a Python list, remove all occurrence of 20 from the list
list1 = [5, 20, 15, 20, 25, 50, 20]
output:
[5, 15, 25, 50]

In [25]:
l1 = [5, 20, 15, 20, 25, 50, 20]
l2 = [l1.remove(20) for ele in l1 if ele==20]
print(l1)

[5, 15, 25, 50]

11. Take a number as input from user. 
Print maximum and minimum integer which can be generated using all the digits in the input number
Ex. Input 3421   : o/p max: 4321, min 1234
Input 7789    : o/p max: 9776   min 6779

In [35]:
num=input("Enter a number :")
minimum=[*num]
maximum=[*num]
minimum.sort(reverse = True)
maximum.sort()
str1=''
print("Max", str1.join(maximum))
print("Min", str1.join(minimum))

Enter a number :14576324
Max 12344567
Min 76544321

12. Take integer from user and print all odd numbers which can be generated using any number of digits from given number
Ex. 
Input: 3421  o/p: 1,3,13,43,23,31,41,21,421,241,341,431,423,243,143,413,1243,1423,4213,4123, 2413,2143, .. etc

In [19]:
from itertools import permutations
num=input("Enter a number :")
l1=[*num]
str1=''
l2=[]
for i in range(1,len(l1)):
    perm=permutations(l1,i)
    for j in list(perm):
        l2.append(str1.join(j))
l3=[ele for ele in l2 if int(ele)%2!=0]
print(l3)

Enter a number :3142
['3', '1', '31', '13', '43', '41', '23', '21', '341', '321', '143', '123', '431', '413', '423', '421', '231', '213', '243', '241']

Q. What will be output of following and explain why?
a. 
l1 = [ 0 , 1]
x= l1[0]
x, l1[x] = 1, 300
print(l1)

In [27]:
l1 = [ 0 , 1]
x= l1[0] #here x=0
x, l1[x] = 1, 300 #here firstly x=1, then l1[1] became 300
print(l1)

[0, 300]

In [34]:
comp = [1, 2, ('aa', 'ab')]   < [1, 2, ('abc', 'a'),4] # in comp variable only tuples are compared and not list
print(comp)

True