Q1. WA function to take a number as parameter and  print True if given number is even else print False

In [ ]:
def check(num):
  if num%2==0:
    return "True"
  else:
    return "False"

number=int(input("Enter the number: "))
print(check(number))

Enter the number: 10
True

Q2 WA function to take list as parameter and print all numbers of given list which are divisible by 11

In [ ]:
def funct(list1):
  for num in list1:
    if num%11==0:
      print(num)
  return

l1=[6,8,11,13,16,22,26]
funct(l1)

11
22

Q3 WA function to take string as parameter
Check if string is palindrome are not
If palindrome return 1
if not palindrome return 0

In [ ]:
def funct1(string):
  if string==string[::-1]:
    return 1
  else:
    return 0

funct1('abcdcba')

1

Q4 WA function to check if number is prime or not. Return True if number is prime and false if number not prime.

Q5 WA function to take a string as parameter. Print its alternate characters starting from 2nd character

In [ ]:
def funct3(string):
  print(string[1::2])
funct3('VIKRAM')

IRM

Q6 WA function to take dictionary as parameter. Print all keys of the dictionary

Q7 WA function to take a dictionary as parameter. Print value of key "name" if key "rollno" is having value 100.

In [ ]:
def funct4(dict):
    if dict['rollno']==100:
            print(dict['name'])


dic1={"name":'VIKRAM','rollno':100}
funct4(dic1)

VIKRAM

Q8 WA function to list of strings as parameter and print all strings which have character 's' 2 times

VIKRAM

Q9 WA function to take list of dictionaries. Print all dictionaries which contain key "id".