Q9. Write a menu driven program.
Ask the user which input needs to be converted 
1. binary 2. Octal 3. Hex
Then convert given string to integer using int() function

In [ ]:
print("Welcome to menu!")
num=int(input("Enter a number to be converted : "))
choice=int(input("Press 1 for Binary \nPress 2 for Octal \nPress 3 for Hexa Decimal \nPress 4 to exit \nEnter your choice : "))
while True:
    choice=int(input("Press 1 for Binary \nPress 2 for Octal \nPress 3 for Hexa Decimal \nPress 4 to exit \nEnter your choice : "))
    match choice:
        case 1:
            print(bin(num))
        case 2:
            print(oct(num))
        case 3:
            print(hex(num))
        case 4:
            break
        case _:
            break
    print("\n")

Welcome to menu!
Enter a number to be converted : 5
Press 1 for Binary
Press 2 for Octal
Press 3 for Hexa Decimal
Press 4 to exit
Enter your choice : 2
Press 1 for Binary
Press 2 for Octal
Press 3 for Hexa Decimal
Press 4 to exit
Enter your choice : 3
0x5


Press 1 for Binary
Press 2 for Octal
Press 3 for Hexa Decimal
Press 4 to exit
Enter your choice : 1
0b101


Press 1 for Binary
Press 2 for Octal
Press 3 for Hexa Decimal
Press 4 to exit
Enter your choice : 2
0o5

In [ ]:
one=int(input("Enter number one : "))
two=int(input("Enter number two : "))
choice=input("Press 1 for Addition \nPress 2 for Subtraction \nPress 3 for Multiplication \nPress 4 for Division \nEnter your choice : ")
match choice:
        case "1":
            print(one+two)
        case "2":
            print(one-two)
        case "3":
            print(one*two)
        case "4":
            print(one/two)
        case _:
            print("Print valid choice!")

In [3]:
num=20
print(oct(num))

0o24

In [8]:
l1=[]
for idx in range(51,100,2):
    if (idx%3==0) or (idx%7==0):
        l1.append(idx)
print(l1)

[51, 57, 63, 69, 75, 77, 81, 87, 91, 93, 99]

In [20]:
l2=[6,16,13,22,14,15,17]
for idx,element in enumerate(l2,1):
        #if idx%2==0:
        print(idx,element)

1 6
2 16
3 13
4 22
5 14
6 15
7 17

In [22]:
l1=[1,2,3,4,5,6]
l2=[element**2 for element in l1]
print(l2)

[1, 4, 9, 16, 25, 36]

In [23]:
l1[2:5]

[3, 4, 5]

In [31]:
print(l1)
l1[1:100]

[1, 2, 3, 4, 5, 6]

[2, 3, 4, 5, 6]

In [5]:
l1=[element for element in range(1,40)]
l2=[element for element in l1 if element%5==0]
l3=[element for element in l1 if element%11==0]
print(l1)
print(l2)
print(l3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]
[5, 10, 15, 20, 25, 30, 35]
[11, 22, 33]

Take a number from user and check whether it is armstrong number or not

In [4]:
import math

n=input("enter a number: ")
total=0
b=len(n)
for i in n:
    a=pow(int(i),int(b))
    total+=a

if total == int(n):
    print("number is Armstrong")
else:
    print("number is not a Armstrong")

enter a number: 8204
number is not a Armstrong

In [23]:
l1=[1,2,3,4,1,2,5,6,7,1,5,3,2,9]
l2=[]
for e in l1:
    if e not in l2:
        l2.append(e)
print(l2)

[1, 2, 3, 4, 5, 6, 7, 9]

In [24]:
l1=[1,2,3,4,1,2,5,6,7,1,5,3,2,9]
l2=[e for e in l1 if e not in l2]

print(l2)

[]